{% extends 'templates.html' %}
{% load static %}
<!DOCTYPE html> 
<html lang="en">
{% block content %}
<head>
	<meta charset="utf-8">

	<title>
		Feedback
	</title> 
	<link rel="shortcut icon" type="image/png" href="pictures/logo.png">
	<link rel="stylesheet" href="{%static 'allstyles.css'%}">

	


</head>

		<!-- <div class="links">
		<a href="firstwin.html"><img src="pictures/logo.png" class="homelogo"  >

	
		<ul>
		
				<li><a href="home.html">Home</a></li>
				<li><a href="aboutshop.html">About Shop</a></li>
				<li><a href="soaps.html">Beauty Soap</a></li>
				<li><a href="soapbuy.html">Buy Soap</a></li>
            	<li><a href="topay.html">Pay Order</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="feedback.html">Feedback</a></li>
				</a></li>
			</ul>
		</div> -->

		<div class="container">
		

				<div class="row">
					<div class="col-md-2"></div>
					<label class="col-md-8">Message</br>
						<textarea id="message" required="" placeholder="Write your feedback here!" cols="80" rows="10"></textarea></label>
						<br>
						<input name="submit" class="buttonsubmit" type="submit" onclick="submitOrder()" value="Submit">
						

				</div>



		</div>
			
	
</body>
</html>
{% endblock %}